<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .background {
    background: linear-gradient(rgba(49, 36, 36, 0.6), rgba(0, 0, 0, 0.3)),
      url("../assets/images/bg.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: #e8a87c;
    padding: 20px;
    border-radius: 5px;
  }

  .calculation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    font-weight: 100;
    font-size: 60px;
  }

  .result-input {
    font-weight: 100;
    font-size: 60px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #e8a87c;
    margin-left: 20px;
    border-color: black;
    font-weight: 100;
  }

  .result-input:focus {
    outline: none;
    font-size: 60px;
    font-weight: 100;
  }

  .feedback {
    position: absolute;
    top: 200px;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .feedback-text {
    color: "#fff";
    font-size: 50px;
    font-weight: 100;
  }

  .points {
    position: absolute;
    top: 50px;
    background-color: #c38d9e;
    padding: 20px;
    border-radius: 5px;
  }
  .points-header {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
  }

  .points-text {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }
</style>

<div class="background">
  <div class="points">
    <h3 class="points-header">Točke</h3>
    <h3 class="points-text">{{ points }}</h3>
  </div>
  <div class="container">
    <div class="calculation">
      <h1 class="header">{{ first_num }} + {{ second_num }} =</h1>
      <input
        [(ngModel)]="result"
        class="result-input"
        (keyup.enter)="checkResult()"
      />
    </div>
  </div>
  <div
    *ngIf="isCorrect"
    class="feedback"
    [ngStyle]="{
      visibility: isCorrect ? 'visible' : 'hidden',
      'background-color': '#41B3A3'
    }"
    (click)="hideFeedback()"
  >
    <h2 class="feedback-text">Pravilno! 🎉</h2>
  </div>
  <div
    *ngIf="isWrong"
    class="feedback"
    [ngStyle]="{
      visibility: isWrong ? 'visible' : 'hidden',
      'background-color': '#E27D60'
    }"
    (click)="hideFeedback()"
  >
    <h2 class="feedback-text">Napačno! 😭</h2>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
