<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .background {
    background: linear-gradient(rgba(49, 36, 36, 0.6), rgba(0, 0, 0, 0.6)),
      url("../assets/images/bg.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
  }

  .calculation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    font-weight: 100;
    font-size: 60px;
  }

  .result-input {
    font-weight: 100;
    font-size: 60px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: beige;
    margin-left: 20px;
  }

  .result-input:focus {
    outline: none;
    font-size: 60px;
    font-weight: 100;
  }

  .feedback {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }

  .feedback-text {
    color: white;
  }
</style>

<div class="background">
  <div class="container">
    <div
      *ngIf="isCorrect"
      class="feedback"
      [ngStyle]="{
        visibility: isCorrect ? 'visible' : 'hidden',
        'background-color': 'green'
      }"
      (click)="hideFeedback()"
    >
      <h2 class="feedback-text">Pravilno! 🎉</h2>
    </div>
    <div
      *ngIf="isWrong"
      class="feedback"
      [ngStyle]="{
        visibility: isWrong ? 'visible' : 'hidden',
        'background-color': 'red'
      }"
      (click)="hideFeedback()"
    >
      <h2 class="feedback-text">Napačno!</h2>
    </div>
    <div class="calculation">
      <h1 class="header">{{ first_num }} + {{ second_num }} =</h1>
      <input
        [(ngModel)]="result"
        class="result-input"
        (keyup.enter)="checkResult()"
      />
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
